<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Part1Intro</title>
=======
    <title>Part2StartAlphaBlog</title>
>>>>>>> e004502a30047319f813d4f600ee9e449360822a
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
